<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
body
    {
        background: url({% static "change_background.jpg" %}) no-repeat;
    }
</style>
<body>
    <h2>Supplier: {{ delivery.supplier }}</h2>
    <h2>Cost of delivery: {{ delivery.cost_of_delivery }}</h2>
    <h2>Delivery on time: {{ delivery.delivery_on_time }}</h2>
    <h2>Delivered product: </h2>
    {% for i in delivery.foodstuffs.all %}
        <li>
            <ol>
                <h3>{{ i.name_of_foodstuff }}</h3>
            </ol>
        </li>
    {% endfor %}

    <form>
        <input type="button" value="delete " onclick='location.href="http://127.0.0.1:8000/delivery/{{ delivery.id }}/delete"'>
        <input type="button" value="make changes" onclick='location.href="http://127.0.0.1:8000/delivery/{{ delivery.id }}/change"'>
    </form>
</body>
</html>