<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
     body
    {
        background: url('/static/change_bac.jpg') no-repeat;
    }
    table, th, td {
            border: 2px solid black;
        }
        th, td {
            padding: 10px; color: black;
        }
</style>
<body>
<h1>Restaurant menu</h1>
<table>
    <tr>
        <th>Dish</th>
        <th>Price, dollars</th>
        <th>Weight, grams</th>
        <th>More details</th>
    </tr>
    {% for i in a%}
    <tr>
      <td>{{i.dish}}</td>
      <td>{{i.price}}</td>
      <td>{{i.weight_grams}}</td>
        <td><a href = http://127.0.0.1:5000/dish/{{i.dish_id}}>Click here</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
