<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
body
    {
        background: url({% static "change_background.jpg" %}) no-repeat;
    }
</style>
<body>
<form action="http://127.0.0.1:8000/foodstuff/{{ foodstuff.id }}/change/success" method="post">
    {% csrf_token %}
    <h1>Name of foodstuff: <input type="text" name="name_of_foodstuff" value="{{ foodstuff.name_of_foodstuff }}"></h1>
    <h1>Category: <input type="text" name="category" value="{{ foodstuff.category }}"></h1>
    <input type="submit" value="submit">
</form>
</body>
</html>