<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
     body
    {
        background: url('/static/change_bac.jpg') no-repeat;
    }
    table, th, td {
            border: 2px solid black;
        }
        th, td {
            padding: 10px; color: black;
        }
</style>
<body>
<h1>     Foodstuff</h1>
<table>
    <tr>
        <th>Name of foodstuff</th>
        <th>Category</th>
        <th>More details</th>
    </tr>
    {% for i in a%}
    <tr>
      <td>{{i.name_of_foodstuff}}</td>
      <td>{{i.category}}</td>
        <td><a href = http://127.0.0.1:5000/foodstuff/{{i.foodstuff_id}}>Click here</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
