<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
body
    {
        background: url('/static/change_background.jpg') no-repeat;
    }
</style>
<body>
<form action="http://127.0.0.1:5000/order/{{ a.order_id }}/change/success" method="post">
    <h1>Order date: <input type="text" name="order_date" value="{{ a.order_date }}"></h1>
    <h1>Time of order: <input type="text" name="time_of_order" value="{{ a.time_of_order }}"></h1>
    <h1>Order price: <input type="text" name="order_price" value="{{ a.order_price }}"></h1>
    <h1>Waiter id: <input type="text" name="waiter_id" value="{{ a.waiter_id }}"></h1>
    <h1>Service quality assessment: <input type="text" name="service_quality_assessment"
                                           value="{{ a.service_quality_assessment }}"></h1>
    <input type="submit" value="submit">
</form>
</body>
</html>