<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
body
    {
        background: url({% static "change_background.jpg" %}) no-repeat;
    }
</style>
<body>
    <h1>Order date: {{ order.order_date }}</h1>
    <h2>Time of order: {{ order.time_of_order }}</h2>
    <h2>Order price: {{ order.order_price }}</h2>
    <h2>Service_quality_assessment: {{ order.service_quality_assessment }} </h2>
    <h2>Dishes:</h2>
    {% for i in  order.dish_set.all%}
    <li>
        <ol>
    <h3>{{ i.dish }}</h3>
        </ol>
    </li>
        {% endfor %}

    <form>
        <input type="button" value="delete order" onclick='location.href="http://127.0.0.1:8000/order/{{ order.id }}/delete"'>
        <input type="button" value="make changes" onclick='location.href="http://127.0.0.1:8000/order/{{ order.id }}/change"'>
    </form>
</body>
</html>