.rectangle{
    height: 120px;
    width: 100%;
    background-color: #555;
    position: relative;
    text-align: center;
    color: black;
    font-size: 0;
    margin: 0 0 20px 0;
}
.name_of_app{
    position: absolute;
    top: 20px;
    left: 140px;
    font-family: "Roboto Light", cursive;
    font-size: 20px;
    color: aliceblue;
    opacity: 0.7;
    text-align: left;
}
.logo{
    position: absolute;
    top: 10px;
    left: 16px;
    width: 100px;
    opacity: 0.6;
}
.form{
    background-color: white;
    opacity: 0.9;
    width:500px;
    color:#555;
    position:relative;
    font-family: "Roboto Light", cursive;
    font-size: 23px;
    text-align: left;
    border: 10px solid #555;
    float: left;
    margin: 10px 0 0 30%;
    padding: 0 5px 5px 40px;
}
.registration{
    width: 150px;
    opacity: 0.7;
}
.child{
    float: left;
    margin: 0 20px 0 0;
}
input[type='submit']{
    float: left;
    background-color: #555;
    margin: 10px 0 0 30%;
    color: aliceblue;
    font-family: 'Roboto Light', cursive;
    font-size: 20px;
    width: 300px;
}
.message{
    color: darkred;
}
/*.django_form{*/
/*    border-: 10px solid #555;*/
/*}*/